body {
    background-color: #5b7680;
    text-align: center;
    background-image: url(images/htmlBackground.png);
    background-repeat: repeat;
}

#mainCanvas {
    margin-top: 50px;
    outline: 10px solid black; 
}